.WeatherForecast {
    text-align: center;
}

.forecast-day {
    width: 20px;
    height: 20px;
    font-size: 14px;
}

.forecast-max-temp {
    margin-left: 5px;
}

.forecast-day canvas {
    margin-top: 10px;
}